{% extends 'base.html.twig' %}

{% block body %}
    <div class="list-group">Rezerwacja w dniu {{ date|date('d/m/Y') }}. Wybierz interesujące Cię godziny

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="list-group-item">Rezerwuj!!</button>
    {{ form_end(form) }}
    </div>
{% endblock %}