{% extends 'base.html.twig' %}

{% block body %}
    <h1>Wybierz miasto, w którym chcesz dokonać rezerwacji</h1>
    <div class="list-group">
        {% for city in cities %}

                <a href="{{ path('reservation_city', { 'city': city }) }}" class="list-group-item">{{ city }}</a>
        {% endfor %}
    </div>
{% endblock %}