{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('security_login') }}">logowanie</a>
    <a href="{{ path('user_registration') }}">rejestracja</a>
    <a href="{{ path('reservation_index') }}">Rezerwacja</a>
    <a href="{{ path('user_account') }}">Konto</a>
{% endblock %}
