{% extends 'base.html.twig' %}

{% block body %}
    <div class="list-group">


        <a href="{{ path('reservation_index') }}" class="list-group-item">Rezerwacja</a>
        <a href="{{ path('user_account') }}" class="list-group-item">Konto</a>

    </div>
{% endblock %}
